<div id='filter-summary' class='filter-body'>
   <div class='filter-content'>
    <input type='text' placeholder="Enter name..." class='summary-filter-name' id='filter-name'>
    <button class='btns filter-btn' id="filter-button">FILTER</button>
    <button class="btns filter-btn" id="filter-reset-btn">RESET</button>
   </div> 
</div>
