<div class="group-2-container">
  <div class="group-2">
    <div>
      <ul>
        <li class="title">UI/ UX</li>
        <li class="ratings">
          <div class="actual-rating ui-ux"></div>
          <div class="edit-rating">
            <label for="ui-ux"></label>
            <input type="text" id="ui-ux" size="1" class="rating-input" autofocus>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="title">API Functionality</li>
        <li class="ratings">
          <div class="actual-rating api-functionality"></div>
          <div class="edit-rating">
            <label for="api-functionality"></label>
            <input type="text" id="api-functionality" size="1" class="rating-input" autofocus>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="title">Error  Handling</li>
        <li class="ratings">
          <div class="actual-rating error-handling"></div>
          <div class="edit-rating">
            <label for="error-handling"></label>
            <input type="text" id="error-handling" size="1" class="rating-input" autofocus>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="title">Project Understanding</li>
        <li class="ratings">
          <div class="actual-rating project-understanding"></div>
          <div class="edit-rating">
            <label for="project-understanding"></label>
            <input type="text" id="project-understanding" size="1" class="rating-input" autofocus>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="title">Presentation Skills</li>
        <li class="ratings">
          <div class="actual-rating presentation-skills"></div>
          <div class="edit-rating">
            <label for="presentation-skills"></label>
            <input type="text" id="presentation-skills" size="1" class="rating-input" autofocus>
          </div>
        </li>
      </ul>
    </div>
    <div class="cumulative-average">
      <ul>
        <li class="title">Cumulative Average</li>
        <li class="ratings cumulative-average-rating"></li>
      </ul>
    </div>
  </div>
</div>
