@import 'base';

.mdl-grid.center-items {
  justify-content: center;
}

.setup-container1 {
  padding: px-to-rem(30px);
}

.mdl-grid.center-items {
  justify-content: center;
}

.panel-learners-content {
  width: 88%;
  display: inline-block;
  padding-left: px-to-rem(16px);
  p {
    display: inline-block;
    font-size: px-to-rem(16px);
  }
}

.new-panel-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: px-to-rem(16px);

  .panel-card-title {
    margin-left: px-to-rem(10px);
  }
}

.switching-tabs > .tab-btn-back-icon {
  margin-top: px-to-rem(4px);
}

.panel-item-container1 {
  max-width: 38rem;
  margin: 0.625rem auto;

  ul {
    list-style: none;
    padding-inline-start: 4px;

    li {
      display: inline-block;
      border: px-to-rem(1px) solid $background-grey;
      background-color: $background-light-grey;
      border-radius: px-to-rem(5px);
      padding: px-to-rem(5px, 30px, 5px, 10px);
      position: relative;
      margin-right: px-to-rem(6px);
      margin-bottom: px-to-rem(2px);
      white-space: nowrap;
      width: px-to-rem(150px);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.selected-learner-close {
  position: absolute;
  cursor: pointer;
  font-size: px-to-rem(25px);
  top: px-to-rem(2px);
  right: px-to-rem(8px);
}

.panel-options-wrapper {
  width: 100%;
  display: none;
  z-index: 1000;
  overflow-y: scroll;
  position: absolute;
  max-height: px-to-rem(300px);
  background: $background-white;
  box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.05),
    0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.05);
}

.panel-learners-display {
  cursor: pointer;
  text-align: left;
  max-height: px-to-rem(120px);
}

.panelists-wrapper {
  border: px-to-rem(1px) solid #f2f2f2;
  background-color: #ffffff;
  padding-left: px-to-rem(16px);
}

.invite-panelist {
  width: 86%;
  box-sizing: border-box;
  border-radius: px-to-rem(5px);
  line-height: px-to-rem(34px);
  font-size: px-to-rem(14px);
  padding-left: px-to-rem(16px);
  font-family: $font-family-light;
  outline: none;
  text-align: left;
  color: $top-section-black;
  border: px-to-rem(1px) dashed rgba(188, 188, 188, 0.4);
  cursor: pointer;
  margin-top: px-to-rem(10px);
}

.invite-panelist2 {
  width: 86%;
  box-sizing: border-box;
  border-radius: px-to-rem(5px);
  line-height: px-to-rem(34px);
  font-size: px-to-rem(14px);
  padding-left: px-to-rem(16px);
  font-family: $font-family-light;
  outline: none;
  text-align: left;
  color: $top-section-black;
  border: px-to-rem(1px) dashed rgba(188, 188, 188, 0.4);
  cursor: pointer;
  margin-top: px-to-rem(10px);
}

.panel-learners {
  margin-top: px-to-rem(10px);
}

.panel-name-wrapper {
  padding-bottom: px-to-rem(20px);
}

.panel-name-input {
  width: 100%;
  border-radius: px-to-rem(0px);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: px-to-rem(2px) solid rgba(188, 188, 188, 0.4);
}

.panel-divider {
  border-top: px-to-rem(1px) solid #f2f2f2;
  margin: px-to-rem(4px) auto px-to-rem(16px) px-to-rem(2px);
  width: 90%;
}

.add-panelists {
  padding-top: px-to-rem(20px);
}

.panel-card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: px-to-rem(1px) solid rgba(178, 187, 198, 0.31);
  border-radius: px-to-rem(4px);
  box-shadow: 0 px-to-rem(4px) px-to-rem(9px) 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  height: px-to-rem(160px);
  width: px-to-rem(140px);
  padding: px-to-rem(16px);
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 px-to-rem(4px) px-to-rem(9px) 0 rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
  }
}

.panels-container {
  margin: 0 auto auto px-to-rem(30px);
  width: 100%;
  display: grid;
  grid-gap: 1.875rem;
  grid-template-columns: repeat(auto-fill, minmax(9.0625rem, 1fr));
}

.panel-more-icon {
  background-image: image-url('More.svg');
  height: px-to-rem(20px);
  width: px-to-rem(7px);
  background-repeat: no-repeat;
  align-self: center;
  margin: 0 0 0 auto;
  cursor: pointer;

  &:hover,
  &:active {
    background-image: image-url('More-active.svg');
    background-repeat: no-repeat;
  }

  &:hover > .dropdown-option {
    display: block;
  }

  .dropdown-option {
    display: none;
    position: relative;
    border: px-to-rem(1px) solid #e8e8e8;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.05);
    left: px-to-rem(-65px / 2);
    padding: px-to-rem(2px);
    top: px-to-rem(10px);
    width: px-to-rem(70px);
    border-radius: px-to-rem(2px);

    &:after,
    &:before {
      border-left: px-to-rem(10px) solid transparent;
      border-right: px-to-rem(10px) solid transparent;
      border-bottom: px-to-rem(10px) solid #fff;
      top: px-to-rem(-10px);
      content: '';
      left: 57%;
      margin-left: px-to-rem(-17px);
      position: absolute;
    }

    &:before {
      border-left: px-to-rem(11px) solid transparent;
      border-right: px-to-rem(11px) solid transparent;
      border-bottom: px-to-rem(11px) solid;
      border-bottom-color: inherit;
      top: px-to-rem(-11px);
      margin-left: px-to-rem(-18px);
    }

    .dropdown-item {
      width: 100%;
      font-size: px-to-rem(14px);
      padding: px-to-rem(4px);

      a {
        color: #333e44 !important;
        text-decoration: none;
        margin: 0 !important;

        &:hover {
          color: $background-blue !important;
        }
      }

      .delete {
        color: #e40404 !important;
      }
    }
  }
}

.panel-body {
  height: 85%;

  .panelists {
    color: #d3d3d3;
    padding-top: px-to-rem(20px);
  }

  .preview-pane-panel-close {
    background-image: image-url('close-panel.svg');
    height: px-to-rem(32px);
    width: px-to-rem(32px);
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    font-size: px-to-rem(18px);
    top: px-to-rem(-10px);
    float: right;
    left: px-to-rem(30px);
  }

  .title {
    line-height: normal;
  }
}

.panel-card-title {
  font-weight: 800;
  line-height: px-to-rem(23px);
  font-size: px-to-rem(18px);
  color: $background-blue;
}

.panel-invitee-list-item {
  color: $pitch-invite-learner;

  p {
    font-size: px-to-rem(12px);
    line-height: px-to-rem(20px);
  }

  .invitee-list-items {
    height: px-to-rem(110px);
    overflow-y: auto;

    .invitee-email {
      font-size: px-to-rem(14px);
    }
  }
}

.invitee-list-footer {
  p {
    text-align: center;
    font-size: px-to-rem(12px);
    margin-top: px-to-rem(30px);
  }
}

.panel-invitee-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    margin-bottom: px-to-rem(7px);
  }
}

.panel-invitee-initials {
  display: inline-block;
  width: px-to-rem(29px);
  height: px-to-rem(29px);
  text-align: center;
  border: px-to-rem(1px) solid $pitch-invite-learner-input;
  border-radius: 50%;
  text-transform: uppercase;
  margin-right: px-to-rem(5px);
  font-size: px-to-rem(12px);
}

.panel-close-btn {
  background-image: url(close.svg);
  height: px-to-rem(20px);
  width: px-to-rem(20px);
  display: inline-block;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: px-to-rem(60px);
}

.selected-learners {
  max-height: px-to-rem(80px);
  overflow: scroll;
}

.list-lfa-email2 {
  max-height: px-to-rem(110px);
  overflow: scroll;
}

.submit-panel-btn,
.saving-btn {
  cursor: pointer;
  float: right;
  color: #fff;
  background-color: #10a36d;
  font-weight: 500;
  border-radius: px-to-rem(6px);
  padding-bottom: px-to-rem(6px);
  padding-top: px-to-rem(6px);
  font-size: px-to-rem(16px);
}

.saving-btn span {
  height: 2.25rem;
  width: 8rem;
  border-radius: 0.25rem;
  line-height: unset;
  text-align: center;
  padding-left: px-to-rem(5px);
  color: #fff;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.submit-div {
  padding-top: px-to-rem(10px);
}

.setup-container1 {
  position: relative;
  float: left;
  height: 65vh;
  width: 45%;
  min-height: 37.5rem;
  border-radius: 0.375rem;
  background-color: #fff;
  margin: 0 0.75rem;
  padding-top: 1.875rem;
  box-shadow: 0 0.25rem 0.5625rem 0 rgba(0, 0, 0, 0.05);
  overflow-y: scroll;
}

.edit-title {
  text-align: center;
}

.submit-div-inner {
  text-align: center;
  display: flex;
  justify-content: center;
}

.panels-pagination {
  margin-top: px-to-rem(30px);
}

.disabled {
  font-weight: 400;
  font-size: px-to-rem(15px);
  line-height: px-to-rem(21px);
  margin-top: px-to-rem(5px) !important;
  background-color: #9f9f9f !important;
  cursor: not-allowed !important;
}

