<div class="set-permissions-tab">
<div class="permissions-for-new">
  <span class="back-icon">
    <%= image_tag("back-icon-copy.svg") %>
  </span>
  <span class="back-text">Permissions for New Role</span>
</div>
<div id="permissions-body">
  
</div>
</div>

